 <div class="container">
       <div class="topic-container">
           <div class="head">
            <div class="author">User</div>
            <div class="content">Content</div>
         </div>
   
         <div class="body">
           <div class="author">
                <div class="username"><a href="#">Username</a></div>
                <div>Role</div>
                <div>Score: <u>10</u></div>
           </div>
   
           <div class="content">
               I think that superman is a god sent figure
               <br>
               If you dont like superman then he will beat u up
               <br>
               superman wins everytime
               <br>
               I think that superman is a god sent figure
               <br>
               If you dont like superman then he will beat u up
               <br>
               superman wins everytime
               <br>  
           </div>
   
           <div class="bttn">
               <button class="btns">Comment</button>
           </div>
         </div>
       </div>
   
       <div class="comment-area">
           <textarea name="comment" id="#" placeholder="add your comment here"></textarea>
           <input type="submit" name="" id="" value="SUBMIT">
       </div>
   <div class="container">
      <!--Replies to Questions--> 
       <div class="post-table">
           <div class="table-head">
               <div class="status">Status</div>
               <div class="subject">Subject</div>
               <div class="user">Username</div>
           </div>
           <div class="table-row">
               <div class="status"><i class="fas fa-unlock"></i></div>
               <div class="subject"><a href="./detail.html">Who wins in a fight Superman or Batman</a></div>
               <div class="user">jaono23</div>
           </div>
           <div class="table-row">
               <div class="status"><i class="fas fa-unlock"></i></div>
               <div class="subject"><a href="./detail.html">Who wins in a fight Superman or Batman</a></div>
               <div class="user">tron83</div>
           </div>
           <div class="table-row">
               <div class="status"><i class="fas fa-unlock"></i></div>
               <div class="subject"><a href="#">Who wins in a fight Superman or Batman</a></div>
               <div class="user">mako434</div>
           </div>
           <div class="table-row">
               <div class="status"><i class="fas fa-unlock"></i></div>
               <div class="subject"><a href="#">Who wins in a fight Superman or Batman</a></div>
               <div class="user">jaek349</div>
           </div>
   
       </div>
   
   
    </div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/character-vote.js"></script>
{{/if}}
    
   </div>