<form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<section>
  <h2>Create New Post</h2>

  <form class="make-matchup">
    <div>
      <label for="character-one">First combatant</label>
      <input type="text" id="character-one" name="character-one" />
    </div>
    <div>
      <label for="character-two">Second combatant</label>
      <input type="text" id="character-two" name="character-two" />
    </div>
    <div>
      <label for="post-body">Body</label>
      <input id="post-body" name="post-body" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>
<script src="/javascript/login.js"></script>